.trasactionContainerHead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    height: 30px;
    border-bottom: 0.2rem solid black;
}

.trh{
    width: 150px;
    height: 30px;
    background-color: white;

}

.transactionHeaderField{
    color: darkblue;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}

.transactionItem{
    width: 150px;
}

.hidden{
    display: none;
}

.trasactionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    border-bottom: 0.1rem solid lightgrey;
}

#transactionsList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.button{
    width: 150px;
    height: 30px;    
}

.addButton{
    margin-left: 550px;
    width: 150px;
    height: 30px;
}

.formButton{
    width: 200px;
    height: 30px;
}

.reset{
    margin-top: 5px;
}

.reset:hover{
    background-color: rgba(239, 209, 110, 0.972);
    color: white;
}

.button:hover{
    background-color: darkblue;
    color: white;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#addTransactionModal{
    background-color: white;
    height: 450px;
    width: 240px;
    margin-top: 60px;
    margin-left: 100px;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 10px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .credit{
    color: green;
  }

.formLabel{
    font-weight:600;
}

.formInput{
    font-size: 16px;
    width: 200px;
    height: 30px;
}